<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- Define targets -->
    <targets>
        <!-- Write log output to console -->
        <target
                name="consoleTarget"
                xsi:type="ColoredConsole"
                layout="[${longdate}] [${level:uppercase=true}] [${event-properties:item=Pointer:format=x2}] [${callsite:includeNamespace=false}] ${message:withexception=true}"/>

        <!-- Also write log output to file -->
        <target
                name="fileTarget"
                xsi:type="File"
                fileName="latest.log"
                layout="[${longdate}] [${level:uppercase=true}] [${callsite:includeNamespace=false}] ${message:withexception=true}"/>
    </targets>
    <!-- Define rules -->
    <rules>
        <!-- All messages with a minimum log level of Debug or higher are written to the Console -->
        <logger name="*" minlevel="Trace" writeTo="consoleTarget" />
        <!-- <logger name="*" minlevel="Trace" writeTo="fileTarget" /> -->
    </rules>
</nlog>